/* CSS file */
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace s "library://ns.adobe.com/flex/spark";
@namespace view "com.genius.view.*";


s|WindowedApplication
{
	background-alpha: 0;
	color:#000000;
	font-family:"Lucida Grande";
}


/*************************************************ustom Components
********************************************************/

view|MainWindowView
{
	corner-radius: 6;
	skin-class: ClassReference("com.genius.view.TitleWindowMainViewSkin");
	title-bar-background-color: #ffffff;
	border-alpha: 0;
/*	border-color: #6d6d6d;*/
	border-thickness: 2;
	border-alpha: 1;
	background-color: #f6f6f6;
	font-family:"Lucida Grande";
	font-lookup: auto;
}



view|MainWindowView #titleDisplay
{
	left: 54;
	font-size: 17;
	font-style: normal;
	font-weight:bold; 
	padding-top: 4;
	font-family: Arial, sans-serif;
	font-lookup: auto;
	color: #222222;
}

s|Button {
	skin-class: ClassReference("com.genius.view.ui.skin.SipButton");
	font-size: 13;
	font-style: normal;
	font-weight:bold;
	font-family: Arial, sans-serif;
	font-lookup: auto;
	
}

.BarButton {
	skin-class: ClassReference("com.genius.view.ui.skin.SipBarButton");
	
	font-size: 16;
	font-style: normal;
	font-weight:bold;
	font-family: Arial, sans-serif;
	font-lookup: auto;
	color: white;
}

.SubBarButton {
	skin-class: ClassReference("com.genius.view.ui.skin.SipBarButton");
	font-size: 14;
	font-style: normal;
	font-weight:bold;
	font-family: Arial, sans-serif;
	font-lookup: auto;
}
.errorMsg
{
	font-size: 11;
	color:red;
	font-family:"Lucida Grande"; 
	font-lookup: auto;
/*	font-weight:bold;*/
}

.appFontNormal 
{
	
	font-family:"Calibri";
	font-size: 12;
	font-lookup: auto;
}
.appFontBold 
{
	font-family:"Calibri";
	font-size: 14;
	font-weight:bold;
}
.infoMsg
{
	font-size: 10;
	color:#ffffff;
	font-weight:bold;
}


.smsTitle
{
	font-family: Arial, sans-serif;
	font-lookup: auto;
	font-weight: bold;
	color: #000000;
	text-align: center;
}

.grayClose, .minimizeButton
{
	skin-class: ClassReference("com.genius.view.SmallButtonSkin");
	chrome-color: #ffffff;	
	corner-radius: 4;
	zoomIn: true;
}

.grayClose
{
	zoomIn: false;
	zoomOut: false;
	grayClose: true;
	background-alpha: 0;
}

.minimizeButton
{
	zoomIn: false;
	zoomOut: false;
	grayClose: false;
	minimize: true;
	background-alpha: 0;
}

mx|TitleWindow
{
	titleStyleName: "panelTitle";
	contentStyleName: contentStyleName;
	headerHeight:35;
	
	backgroundRepeat:repeat;
	border-background-image:Embed(source='assets/images/panel_bg.png');
	cornerRadius:8;
	bottomCornerRadius: 3;
	filters:dropShadow;
	borderColor:#dddddd;
	border-style: none;
	paddingTop:20;
	paddingLeft:20;
	paddingRight:20;
	paddingBottom:20;
}
.panelTitle{
	textAlign:left;
	fontSize:13;
	font-weight:bold;
}
.contentStyleName
{
	skin: ClassReference("com.genius.view.ui.skin.PanelContentSkin");
	filters: contentDropShadow;
	cornerRadius: 0;
}




/****************************************************************************************************************
FILTERS                                                            *
*****************************************************************************************************************
*/
.dropShadow
{
	filterClass:ClassReference('com.asfusion.skins.filters.CSSDropShadowFilter');
	distance:5;
	blurX:32;
	blurY:32;
	quality:3;
	alpha:0.6;
}
.contentDropShadow
{
	filterClass:ClassReference('com.asfusion.skins.filters.CSSDropShadowFilter');
	distance: 0;
	blurX: 4;
	blurY: 4;
	quality:3;
	alpha: 0.5;
	inner: true;
}

/****************************************************************************************************************
FONTS                                                              *
*****************************************************************************************************************
*/
@font-face {
	src:url("assets/fonts/lucidaGrande.swf");
	fontFamily: "Lucida Grande";
}
@font-face {
	src:url("assets/fonts/lucidaGrande.swf");
	fontFamily: "Lucida Grande";
	fontWeight:bold;
}
